body {
    font-family: 'Montserrat', sans-serif;
    background: #faf5f5;
}

.wrapper {display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px gray;

}

.main-description {
    background: red;
    margin: 20px 40px 20px 40px;
    padding: 40px 10px 5px 3px;
}

.block2 {
    background: rgb(0, 255, 64);
    margin: 10px;
    padding: 50px;
}

li {
    color: green
}
h2 {
    color: red;
}

.description {
    color: rgb(0, 34, 255);
}