body {
  font-family: "Montserrat", sans-serif;
  background: #faf5f5;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px gray;
}

aside {
  width: 370px;
  background: #1e2939;
}

.cv-photo {
  margin-top: 25px;
}

.header_secondary {
  color: #ffffff;
}
.contact_links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.list_secondary {
  color: #fb6d3a;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.list_secondary_item {
  color: #ffffff;
}

.contact_block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech_skills_block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft_skills_block {
  margin-top: 44px;
  margin-left: 40px;
}

main {
  padding: 102px 88px 102px 88px;
}

.main_description {
  width: 400px;
}

.job_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

.projects {
  width: 485px;
  margin-bottom: 51px;
}

.list_primary {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0px;
  list-style-position: inside;
}

.list_primary_item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.header_primary {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 12px;
}

.job_name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.job_date {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #a8a8a8;
}

.job_list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  padding-left: 0px;
  list-style-position: inside;
}
